body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 20px;
}

#startModal {
    display: block;
    /* Mostrar el modal al cargar la página */
}

/* Estilos del modal de inicio */
#startModal .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.players-turn {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}

#timer {
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 2;
}

.score {
    position: absolute;
    top: 60px;
    left: 20px;
    z-index: 2;
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
    /* Un valor de z-index aún más alto para el contenido del modal */

}

/* Estilos del botón para cerrar el modal */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}





/* Establece un alto para el contenedor de basureros para que queden en la parte inferior */
.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    /* Ajusta según sea necesario para la disposición de tu juego */
    background-image: url('../img/131.jpg');
    /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    /* Ajusta el tamaño de la imagen al contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-position: center center;
    width: 1016px;
    height: 528px;
}


.trash-bin {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    line-height: 200px;
    cursor: pointer;
    position: absolute;
    z-index: 0;
}


.trash-bin[data-bin="organico"] {
    left: 20px;
    /* Ajusta las coordenadas según tus necesidades */
    top: 480px !important;
}

.trash-bin[data-bin="noRecicable"] {
    left: 130px;
    /* Ajusta las coordenadas según tus necesidades */
    top: 480px !important;
}

.trash-bin[data-bin="recicable"] {
    left: 240px;
    /* Ajusta las coordenadas según tus necesidades */
    top: 480px !important;
}

.trash-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.trash-item {
    width: 100px;
    /* Ancho menor para los objetos de basura */
    height: 100px;
    /* Alto menor para los objetos de basura */
    background-color: rgba(0, 0, 0, 0);
    /* Fondo transparente */
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
}